/*Desktop*/
@media (min-width: 769px) {

    body{
        background-color: #dfe2b0f2;
    }



    #page-top{
        min-height: 180px;
    }

    #div-nav{
        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }

    #div-nav p{
        height: auto;
    }

    #div-nav div:nth-of-type(1) {
        margin-top: -7px;
    }

    .nav-link-div{
        margin-top: 3px;
    }

    .nav-link-div p{
        margin: 0;
    }

    #welcome-text-container{
        text-align: center;
    }
    
    #content-container {
        border-top: 1px solid black;
        margin-top: 15px;
        display: flex;
    }

    #meme-rpg {
        margin-top: 10px;
    }

    .grid-1{
        display: flex;
        flex: auto;
    }

    .column1 {
        max-width: 58svw;
        min-width: 500px;
        flex-grow: 1;
        min-height: 600px;
    }

    .column2 {
        margin-left: 40px;
        max-width: 36svw;
        min-height: 600px;
    }
    /* Taken
        height: 100vh; /* Full height of the viewport /
        align-items: stretch; /* Ensures full height columns /
    */
}





















/*Mobile*/
@media (max-width: 768px) {
    
}

